@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: NotoSansTC;
    src: url(./fonts/NotoSansTC-Light.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: NotoSansTC;
    src: url(./fonts/NotoSansTC-Medium.ttf) format('truetype');
    font-weight: bold;
}