.freeCell.main {
	background-color: #000;
	width: 100vw;
	height: 100vh;
	position: relative;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3% 0 3% 5%;
    color: #E6BF8D;

    .mainArea {
	    .header {
	    	width: 100%;

	    	.leftSide {
	    		img {
	    			width: 20vw;
	    		}
	    		span {
	    			margin-left: 10px;
	    		}
	    	}

	    	.rightSide {
	    		font-size: 19px;

	    		.score {
	    			margin-left: 3vw;
	    		}
	    	}
	    }    	
    }

    .menuArea {
    	padding: 5%;
    	img {
    		margin-bottom: 3vh;
    		cursor: pointer;
    	}
    }
}

