@import './css/reset.scss';
@import './node_modules/bootstrap/scss/_functions.scss';
@import './node_modules/bootstrap/scss/_variables.scss';
@import './node_modules/bootstrap/scss/_mixins.scss';
@import './node_modules/bootstrap/scss/_grid.scss';
@import './node_modules/bootstrap/scss/_forms.scss';
@import './node_modules/bootstrap/scss/_buttons.scss';
@import './node_modules/bootstrap/scss/_nav.scss';
@import './node_modules/bootstrap/scss/_navbar.scss';
@import './node_modules/bootstrap/scss/_jumbotron.scss';
@import './node_modules/bootstrap/scss/utilities';
@import './css/fonts.scss';
@import './css/global.scss';

@import './css/main.scss';
@import './css/menu.scss';
@import './css/creditCard.scss';
@import './css/success.scss';
@import './css/webATM.scss';
@import './css/payfont.scss';
