.payment .creditCard {
	h1 {
		color: #fff;
		font-weight: normal;
		text-align: left;
		width: 100%;
	}

	.creditCardType {
		margin: 1vh 0;
		width: 100%;
		.type {
			font-size: 50px;
			margin-right: 1.5vw;
			&.active {
				color: #A8D574;
			}
		}

	    @media only screen and (max-width: 500px) {
			justify-content: space-between;
			.type {
				font-size: 13vw;
			}	    	
	    }		
	}

	.inputArea {
		margin-bottom: 3vh;

		.title {
			color: #A8D574;
			margin-bottom: 1vh;

			@include mobile-screen {
				font-size: 12px;
			}
			span {
				color: #FF521A;
				font-size: 12px;
				vertical-align: text-top;
			}
		}

		.cardInfo div, .invalidDate div {
			color: #A8D574;
		}

		.invalidDate div {
			margin: 0 5px;
		}

		input {
			border: none;
			border-bottom: 1px solid #A8D574;
			background-color: transparent;
			color: #fff;
			font-size: 17px;
			padding: 10px;
			width: 100%;

			&.cardNumber, &.date {
				width: 20%;
				text-align: center;
			}

			&.lastNumber {
				width: 45%;
				text-align: center;
			}

			&.error {
				border-color: #FF521A;
			}

			@include mobile-screen {
				&.date {
					padding: 10px 5px;
				}
			}
		}

		.desc {
			color: #FFD065;
			font-size: 13px;
			margin: 2vh 0;
    		line-height: 20px;
		}
		.reminder {
			color: #FF521A;
			font-size: 12px;
			padding: 5px;
			i {
				color: #FF521A;
				font-size: 14px;
			}
		}
	}
}
