.payment {
	&.main {
		background-color: #A8D574;
		width: 100vw;
	    font-weight: bold;
	    overflow: auto;
	}

	.payDetail {
		width: 100vw;
		.inner {
			background-color: #343434;
			width: 60vw;
			font-weight: normal;
			padding: 5vh 7vw;			
		}
	}
	
	.btn.confirm {
		color: #343434;
		background-color: #A8D574;
		padding: 5px 50px;
		border-radius: 0;
	}	
}
