.noteContent {
	background-color: #fff;

	.dark & {
		background-color: #272727;
	}

	.noteContent-inner {
		padding: 30px 35px;
	}

	.recentNote_Area {
		width: 20%;
		margin-right: 5%;
		.addBtn {
			background-color: #000;
			color: #fff;
			font-size: 15px;
			padding: 3px 7px;
    		border-radius: 6px;	
    		margin: 0 20px 20px;		
			i {
				font-size: 17px;
				color: #fff;
				vertical-align: text-top;
				margin-right: 5px;
			}

			.dark & {
				background-color: #fff;
				color: #000;
				i {
					color: #000;
				}
			}
		}
	}

	.noteList {
		width: 100%;
	}

	.detail {
		background-color: #fff;
		border-radius: 10px;
		border-top-left-radius: 0;
		height: 500px;		
	}
}