.cloudDrive {
	background-color: #F5F5F5;
	width: 100vw;
	height: 100vh;
	position: relative;
    overflow: auto;
    padding: 20px 60px 60px;
    font-size: 15px;

    .driveContent {
    	margin-top: 5vh;
    }
}
