@font-face {
    font-family: payfont;
    src: url("./fonts/payfont.woff2?1750797b") format("woff2"),
             url("./fonts/payfont.woff?1750797b") format("woff"),
             url("./fonts/payfont.ttf?1750797b") format("truetype"),
             url("./fonts/payfont.svg?1750797b#payfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="payfont"], [class*=" payfont"] {
    font-family: 'payfont' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.payfont-JCB::before {
    content: "\ea01";
}

.payfont-MasterCard::before {
    content: "\ea02";
}

.payfont-UnionPay::before {
    content: "\ea03";
}

.payfont-Visa::before {
    content: "\ea04";
}

