.hotelReservation .header {
	background-color: #E8E8E8;
	width: 100vw;
	height: 70px;
	padding: 0 3vw;
	position: fixed;
	top: 0;
	z-index: 1;

	.logo {
		width: 60vw;
		cursor: default;
	}

	.menu-list {
		margin-right: 5vw;
		width: 40vw;
		cursor: default;

		.menu:hover {
			position: relative;

			&:after {
				position: absolute;
				content: '';
				width: calc(100% - 14px);
				height: 1px;
				background-color: #000;
			    bottom: -8px;
			    left: 7px;
			}
		}
	}
}